* {
  margin: 0;
  padding: 0;
  font-family: open, sans-serif;
}
body {
  background: hsl(225, 4%, 19%);
  justify-content: center;
  text-align: center;
  align-items: center;
  display: block;
}

h1 {
  color: hsl(27, 74%, 48%);
  -webkit-text-stroke: 2.5px black;
  font-size: 3.5rem;
  font-family: open, sans-serif;
  font-weight: 900;
}
.condition {
  font-size: 1.5rem;
  -webkit-text-fill-color: white;
  font-family: open, sans-serif;
  margin-block: 1rem;
}
h1::before {
  content: "✊";
}

.groupe {
  justify-content: center;
  display: block;
  width: auto;
  height: 75vh;
}
.groupe .scoreEach p {
  display: inline-flex;
  font-size: 3rem;
  justify-content: space-evenly;
  text-align: center;
  padding-inline: 12rem;
  font-family: "Chakra Petch", sans-serif;
}
.names {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
  align-items: center;
  align-items: center;
}
.names p {
  font-size: 1.5rem;
  color: rgb(192, 192, 192);
  display: flex;
  padding-inline: 10rem;
  text-align: center;
}
.names:first-child {
  margin-left: 5rem;
}
.battle {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.battle section {
  display: flex;

  width: 20%;
  height: 110%;
  margin: 2rem 1rem 0rem 1rem;

  font-size: 5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: double 10px rgb(0, 0, 0);
  border-radius: 20px;
}
.battle p {
  font-size: 4rem;
}

.selection {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selection section {
  border: double 5px white;
  border-radius: 20px;
  width: 10%;
  height: 100%;
  display: flex;
  margin: 1rem;
  align-items: center;

  justify-content: center;

  font-size: 2.5rem;
}
.selection section:hover {
  background-color: rgba(255, 255, 255, 0.137);
  border: double 5px rgb(0, 0, 0);
  cursor: pointer;
}
.selection section::selection {
  background: none;
}

.alerts {
  position: absolute;
  text-align: center;

  display: grid;
  align-items: center;
  background: rgba(0, 0, 0, 0.877);
  justify-content: center;
  width: 50vh;
  height: 30vh;
  right: 40%;
  left: 40%;
  top: 40%;
  bottom: 40%;
  transition: all 1s ease;
  transform: scale(0, 0);
  z-index: 20;
}

.alerts .winner {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
}
.alerts a {
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(102, 92, 255, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  text-decoration: none;
  color: white;
}
